fastapi
uvicorn[standard]
python-multipart
pydantic
SQLAlchemy
passlib[bcrypt]
itsdangerous
loguru
httpx
requests
tiktoken
numpy
scikit-learn
sentence-transformers
transformers
torch
chromadb==0.4.15
docling
starlette
einops
